@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  background: #fbfbfb;
  --light-red: #eb6464;
  --purple: rgba(210, 25, 25, 0.7);
  --gray: #727272;
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}
